
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 align="center">Assign and Notes</h2>

<div align="center">
    <div>
        <p>monday</p>
        <input id="dayone" />
        <p>Tuesday</p>
        <input id="daytwo" />
        <p>Wednesday</p>
        <input id="daythree" />
        <p>Thursday</p>
        <input id="dayfour" />
        <p>Friday</p>
        <input id="dayfive" />

        <p>select Driver</p>
        <input id="SelectName" />

        <p>Select Route</p>
        <input id="chooseRoute" />

        <p>Select StartLocation</p>
        <input id="Startlocation" />

        <p>Select EndLocation</p>
        <input id="Endlocation" />


        <input type="button" value="AddSchedule" id="btnAddSchedule"><br>



    </div>
</div>


@*<form id="myForm" action="comment.php" method="post">
        Student: <input type="text" name="name" />
        Staff: <input type="text" name="name" />
        Comment: <textarea name="comment"></textarea>
        <input type="submit" value="Submit Comment" />
    </form>*@

@section scripts
{

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript">

        //    // bind 'myForm' and provide a simple callback function
        //    $('#myForm').ajaxForm(function() {
        //        alert("Thank you for your comment!");
        //    });
        /**/
        //});
        /**/
        $(document).ready(function () {


            $('#btnAddSchedule').click(function () {



                //  var monday = $('#dayone').val();


                Schedulemonday = $('#dayone').val();
                Scheduletuesday = $('#daytwo').val();
                Schedulewednesday = $('#daythree ').val();
                Schedulethursday = $('#dayfour').val();
                Schedulefriday = $('#dayfive').val();
                ScheduleDriverName = $('#SelectName').val();
                ScheduleDriverRoute = $('#chooseRoute').val();
                ScheduleRouteStartlocation = $('#Startlocation ').val();
                ScheduleRouteEndlocation = $('#Endlocation ').val();




                // Schedule.ChooseRoute = $('txtchooseRoute ').val();
                // Schedule.StartLocation = $('txtstartLocation ').val();
                //Schedule.EndLocation = $('txtEndlocation ').val();

                $.ajax({
                    url: 'http://localhost:58371/api/Schedule',
                    method: 'POST',
                    dataType: 'json', //'json'
                    contentType: 'application/json',        //data: JSON.stringify(jsonData),
                    data: JSON.stringify({



                        "monday": Schedulemonday,
                        "tuesday": Scheduletuesday,
                        "wednesday": Schedulewednesday,
                        "thursday": Schedulethursday,
                        "friday": Schedulefriday,
                        "Driver": {
                            //  "id": 1,
                            "name": ScheduleDriverName,
                            "Route": ScheduleDriverRoute
                        },
                        "Routes": {
                            //   "id": ,
                            "Startlocation": ScheduleRouteStartlocation,
                            "Endlocation": ScheduleRouteEndlocation
                        }


                        //"Monday": Schedulemonday,
                        //"tuesday": Scheduletuesday,
                        //"wednesday": Schedulewednesday,
                        //"Thursday": Schedulethursday,
                        //"Friday": Schedulefriday,
                        //"name": ScheduleDriverName,
                        //"RouteId": ScheduleRouteId ,
                        ////"startLocation": ScheduleRoutesStartlocation,
                        ////"EndLocation":ScheduleRoutesEndlocation

                    }),

                    success: function (data) {
                        alert('saved sucessfully');

                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert(thrownError);
                    }


                })

            })

        });












                    //    //for staff
                    //    $.ajax({
                    //        method: 'GET',
                    //        url: 'http://localhost:58371/api/Staff',
                    //        dataType: 'json'
                    //    }).done(function (data) {
                    //        $.map(data, function (post, j) {
                    //            staffName = post.name;
                    //            $('#staffList').append("<option value='" + staffName + "'>" + staffName + "</option>");

                    //        });
                    //    });


                    //    //for students
                    //    $.ajax({
                    //        method: 'GET',
                    //        url: 'http://localhost:58371/api/student',
                    //        dataType: 'json'

                    //    }).done(function (data) {
                    //        $.map(data, function (post, j) {
                    //            studentName = post.name;
                    //            $('#studentList').append("<option value='" + studentName + "'>" + studentName + "</option>");

                    //        });
                    //    });

                    //    var conceptName = $('#studentList').find(":selected").text();

                    //    console.log("you have selected " + conceptName);

                    //});




    </script>
}